/vendor
.idea
cms/Web11/Library/Config.dev.*
/bootstrap/compiled.php
.env.*.php
.env.php
.env
node_modules
json
db
code.sublime-project
code.sublime-workspace
tests/_output/*
tests/_data/dump.sql
.DS_Store
dump.rdb
.sass-cache
bootstrap/
storage/
!storage/oauth-private.key
!storage/oauth-public.key
assets/css/style.css.map
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
_ide_helper.php
sitemap.xml
bin

